.banner img{
    height: 85vh;
}
.navbar-brand img{
    width:auto ;
    height: 100px;
}
.footer{
    background-color: rgb(18, 158, 57);
}
.ration{
    height: fit-content;
    width: auto;
}
.list ul{
    list-style-type: style none ;
}